body,h1,h2,h3,h4,h5,h6 {font-family: "微軟正黑體","Raleway", sans-serif}
.stay-left{
    text-align: left;
}


.text-like-btn{
    border: none; 
    background-color: 
    inherit; color:silver;
    font-size: 125%;
}

.w3-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto}

@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:none!important}}